<%- include("header", {title:"Funkit"}) %>
<body style="background-color:rgb(228, 210, 190)">
    <%- include("navbar",{selected: "home"}) %>
    <div>
        <div class="container-fluid" style="margin-top: 66px;" >
            <div class="row justify-content-center h-50" >
                <div id="banner" class="overflow-hidden position-relative" style="align-items: center;align-content: center;">
                    
                </div>
                <div class="col-12 position-absolute" >
                    <img class="rounded mx-auto d-block img-fluid" src="static/sources/cap.png" style="height: 160px;"/>
                </div>
            </div>

            <div class="row justify-content-center" style="margin-left:5%;margin-right: 5%;">
                <div class="col-lg-6 col-sm-12" style="margin-top: 2%;">
                    <div class="container-fluid" style="background-color:rgb(255, 255, 255);height:100%" >
                        <div class="row justify-content-start">
                            <div class="col-lg-6 col-sm-4 my-auto" >
                                <img src="static/sources/blocks.jpg"/ style="max-width: 100%; max-height: 100%;">
                        
                            </div>
                            <div class="col-lg-6  col-sm-8 my-auto" style="padding-bottom: 2%;margin-bottom: 2%;">
                                <br>
                                These wooden blocks are soo good it's unbelievable. 
                                Buy now, you should buy now.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12" style="margin-top: 2%;">
                    <div class="container-fluid" style="background-color:rgb(255, 255, 255);height:100%">
                        <div class="row justify-content-end">
                            <div class="col-lg-6 col-sm-4 my-auto" >
                                <img src="sources/tank.png"/ style="max-width: 100%; max-height: 100%;">
                        
                            </div>
                            <div class="col-lg-6 col-sm-8 my-auto" style="padding-bottom: 2%">
                                <br>
                                This tank is awesome, i mean just look at it.
                                You should buy lots of these and build an army.
                            </div>
                        </div>
                    </div>
                </div>     
            </div>

            <div class="row justify-content-center" style="margin-left:30%;margin-right: 30%;width:40%;margin-top:5%;background-color:rgb(255, 255, 255)">         
                <div id="aboutimg" class="col-sm-4 my-auto" style="margin-top:5%;padding-top: 2%;">
                    <img src="sources/mail.png"/ style="max-width: 50%; max-height: 50%;">
                </div>               
                <div class="col-lg-6 col-sm-10 my-auto" style="padding-bottom:2%;padding-top:2% ">
                    Elérhetőségek:
                    <br><br>
                    Email: <a href="mailto:funkit@email.org">Funkit@email.org</a><br>
                    Cím: 4200 City, Generic Street 1.<br>
                    Telefon: +06201234567<br>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:15px"></div>
    </div>

    <script>
        onResize();
        getSession();
        window.onresize = onResize;
        function onResize(){
            document.getElementById("banner").innerHTML = "<div class=\"position-relative \" style=\" transform: translateX(-"+(2000-(screen.width/2))+"px);margin:auto; width: 0;height: 0;border-left: 2000px solid transparent;border-right: 2000px solid transparent;border-top: 160px solid rgb(179, 12, 101);\"></div>";
        }
        
        /*function logout(){
            let xhr = new XMLHttpRequest();
                xhr.open("POST", "logout", true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onreadystatechange = function () {
                    if (this.readyState != 4) return;

                    if (this.status == 200) {
                        data = this.responseText;
                        console.log(data);                    
                        window.location.href = "/home";
                    }
                };
                xhr.send();
        }*/
    </script>
<%- include("footer") %> 