<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: rgb(179, 12, 101);">
    <a href="/home">
        <img class="nav-link active" style="width:215px;height:50px" src="sources/logo.png">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>      
    <div class="collapse navbar-collapse" id="navbarSupportedContent">        
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <% if(selected == "products"){ %>
              <div style="background-color: floralwhite;">
              <a class="nav-link" style="color:rgb(179, 12, 101); font-size: large; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" href="/products">Termékek</a>
              </div>
            <% } else { %>
              <a class="nav-link" style="color:floralwhite; font-size: large; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" href="/products">Termékek</a>
            <% } %>
        </li>
        <% if(locals.sessionType != "guest"){%>
          <li class="nav-item">
              <% if(selected == "orders"){ %>
                <div style="background-color: floralwhite;">
                <a class="nav-link active" style="color:rgb(179, 12, 101); font-size: large; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" href="/orders">Rendelések</a>
                </div>
              <% } else { %>
                <a class="nav-link" style="color:floralwhite; font-size: large; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" href="/orders">Rendelések</a>
              <% } %>
          </li>
        <%}%>
      </ul>
      <% if(sessionType == "guest"){ %>
        <a href="/login" class="btn btn-success" style="color:white">Bejelentkezés</a>      
      <% } else if(sessionType == "user" || sessionType == "admin"){ %>
        <a href="/logout" class="btn btn-danger"  style="color:white">Kijelentkezés</a>
      <% } %>
    </div>
</nav>