<%- include("header",{title: "Rendelések"}) %>
<body style="background-color: gainsboro;">
    <%- include("navbar",{selected: "orders"}) %>
    
    
    <div class="container-fluid" style="padding-top: 100px;">
        <div class="row justify-content-center">
            <div class="col-sm-9">
                <table class="table" style="background-color: white;">
                    <thead>
                        <tr>
                            <th scope="col" style="text-align: center;">Név</th>
                            <th scope="col" style="text-align: center;">Email</th>
                            <th scope="col" style="text-align: center;">Cím</th>
                            <th scope="col" style="text-align: center;">Termékek</th>
                            <th scope="col" style="text-align: center;">Összeg</th>
                            <th scope="col" style="text-align: center;"><br></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="vertical-align: middle;">Lakatos Pistike</td>
                            <td style="vertical-align: middle;">lakat.OS@email.com</td>
                            <td style="vertical-align: middle;">4200 City Generic Street 2.</td>
                            <td style="vertical-align: middle;">2x Building Blocks</td>
                            <td style="vertical-align: middle;">4000000ft</td>
                            <td style="vertical-align: middle;">
                                <button class="btn-outline-danger">X</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<%- include("footer") %>