<%- include("header",{title: "Termékek"}) %>
<body style="background-color:rgb(228, 210, 190)">
    <%- include("navbar",{selected: "products"}) %>
    
    <div class="container-fluid" style="padding-top:100px">
        <div class="row justify-content-center">
            <div class="col-sm-10">
                <table class="table" style="background-color: white;">
                    <thead>
                        <tr>
                            <th scope="col" style="min-width:30%;"></th>
                            <th scope="col" style="text-align: center;">Termék</th>
                            <th scope="col" style="text-align: center;">Leírás</th>
                            <th scope="col" style="text-align: center;">Ár</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% 
                                locals.table.forEach(element => {
                                    
                                });
                        %> 
                        <tr>
                            <td><img src="sources/blocks.jpg" style="max-width: 80%"/></td>
                            <td style="vertical-align: middle;">Building Blocks</td>
                            <td style="vertical-align: middle;">These are some very cool wooden blocks.</td>
                            <td style="vertical-align: middle;">2000000ft</td>
                        </tr>
                        <tr>
                            <td><img src="sources/tank.png" style="max-width: 80%"/></td>
                            <td style="vertical-align: middle;">Pop Tanks</td>
                            <td style="vertical-align: middle;">These are some very cool wooden tanks.</td>
                            <td style="vertical-align: middle;">2000001ft</td>
                        </tr>
                    </tbody>
                    <%- include("productTable",{data: })
                </table>
            </div>
        </div>
    </div>
<%- include("footer") %>